
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



#flash-message {
  position: absolute;
  bottom: 20px;
  right:20px;
  z-index: 10;
}